body {
  text-align:center;
  font-family: Trebuchet, sans-serif;
}

img {
max-width: 60%;
height: auto;
padding-top: 10px;
}

/* NAVIGATION BAR - inspiration from https://www.w3schools.com/howto/howto_css_topnav_right.asp &
  https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

  .navbar {
    overflow: hidden;
    background-color:whitesmoke;
    opacity:80%;
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Logo inside navbar */
  .navbar a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color:red;
    float: left;
  }

  /* Links inside navbar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    float: right;
  }

  /* Changes on mouse-over */
  .navbar a:hover {
    text-decoration: underline;
  }

  /* Changes the size of the navbar on small screens */
  @media screen and (max-width: 650px) {
    .navbar a {
      font-size: 12px;
      padding: 10px 15px;
    }

    .navbar a.logo {
        font-size: 14px;
    }
  }

/* MAIN CONTENT */
    .contentbox {
      padding-top: 65px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 40px;
    }

    /* MEET THE TEAM - inspiration from https://www.w3schools.com/howto/howto_css_team.asp */
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 2px;
        padding: 0px 0px;
      }

      /* Display columns below each other on small screens */
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }

      .container {
        padding: 0px 16px;
      }

      /* Clear floats */
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .title {
        color: IndianRed;
      }

      .button {
        display: inline-block;
        border: none;
        padding: 12px;
        color: white;
        background-color: #000;
        cursor: pointer;
        width: 50%;
      }

      .button:hover {
        background-color: IndianRed;
      }

      .contacttext{
        text-decoration:none;
        color: white;
      }


/* FOOTER */
    .footer{
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      background-color:#F2F2F2;
      margin: 0;
      padding: 0;
    }


    .footer th {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 0px;
      text-align: left;
      background-color: white;
      color:#616161;
    }

    .footer tr{
      padding: 20px;
      color:#616161;
    }

    .footer td{
      padding: 12px;
      color:#616161;
    }

    .bunnlinja {

      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: auto;
      margin-left:auto;
      margin-right:auto;
      font-size: 15px;
      color: #F2F2F2;

    }
